@use 'sass:color';
@use '../variables' as *;

/*! Hero */

// Hide slides by default. See also js code in the `src/HeroGallery.ts` module.
#rec1966648601,
#rec1972774181,
#rec1988257941,
#rec1988326791,
#rec1988383811 {
  transition: opacity $disappearTimeMs;
  opacity: 0;
  &.inited {
    opacity: 1;
  }
}

.uc-HeroGallery {
  // Links...
  // @include basicActiveLink;
  .carousel-wrapper {
    // Make it full-width
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }
  .carousel-wrapper {
    position: relative;
  }
  .owl-carousel {
    background-color: transparent !important;
    position: absolute;
    inset: 0;
    overflow: hidden;
  }
  // Navigation dots
  .owl-dots {
    margin: 0;
    position: absolute;
    transform: translateX(-50%);
    bottom: 0;
    left: 50%;
    button[class*='owl-'] {
      span {
        transition: all $transitionTimeMs;
        background: color.change($primaryColor, $alpha: 0.5);
        border: 2px solid #fff;
      }
      &:hover span,
      &.active span {
        background: color.change($primaryColor, $alpha: 1);
      }
    }
  }
  // Navigation buttons: prev, next
  .owl-nav {
    margin: 0;
    button[class*='owl-'] {
      $size: 30px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all $transitionTimeMs;
      border-radius: 50%;
      width: $size;
      height: $size;
      background: color.change(#999, $alpha: 0.4);
      // color: #fff;
      color: $primaryColor;
      &:hover {
        background: color.change($primaryColor, $alpha: 1);
      }
      &.owl-prev {
        left: 10px;
      }
      &.owl-next {
        right: 10px;
      }
    }
    @media (width <= $tinyTreshold) {
      display: none; // NOTE: For production mode
    }
  }
}
