@use 'sass:color';
@use '../variables' as *;

/*! Root */

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

// Misc styles
.opacity-50 {
  opacity: 0.5;
}

// Minor block fixes...

.uc-NavMenu {
  // @include withActiveLinks;
}
